@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  background-color: #ffffff !important;
  align-items: center;
  padding: 10px;
  font-family: monospace;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("/Images/nd_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px !important;
  margin-left: 0px;
}

@media (max-width: 600px) {
    .logo {
      width: 35px;
      height: 35px;
    }
  }

.navigation-link {
  text-decoration: none;
  padding: 1em;
  color: #ffde59 !important;
  font-family: "Special Gothic Expanded One", serif;
  font-weight: 500;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation-link:hover {
  color: #fbefbf !important;
}

.nav-links-container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation-link {
    text-align: center;
    padding: 10px 40px 10px 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .logo {
    width: 40px;
    height: 40px;
    background-image: url("../../Images/nd_logo.png");
    background-size: cover;
  }

  .navigation-link {
    text-align: center;
    padding: 10px 35px 10px 0;
  }
}

